* {
    margin: 0;
    padding: 0;
}

.header {
   background: rgb(59, 132, 134); 
   padding: 15px 30px;
}
.nav {
    display: inline-block;
    width: 93%;
    vertical-align: top;
    margin-top: 2.5%;
}

.nav ul {
    padding-left: 0;
    text-align: justify;
}

.nav .nav-list li{
    list-style-type: none;
    display: inline-block;
    width: 16.6%;
    text-align: center;
    margin-left: -16px;
}

.nav-list a {
    text-decoration: none;
    color: #faeaef;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
}

#img-logo {
    width: 6%;
}


.nav-list li a[data-type="About"] {
    color: #9a10b3;
}


.nav-list li a[data-type="Product"] {
    color: #c31414;
}

.nav-list li a[data-type="Program"] {
    color: #bdd403;
}

.nav-list li a[data-type="Contact"] {
    color: #00dcdc;
}

.nav-list li a[data-type="Blog"] {
    color: #d89024;
}

.nav-list li a[data-type="Portfolio"] {
    color: #2b40ce;
}

.nav-list li a:hover {
    color: rgb(0, 0, 0);
}


section {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.main {
    font-size: 14px;
    font-family: sans-serif;
    margin: 0 15%;
}

.header_img {
    margin-top: 15%;
}

.main_p {
    color: #9d9d9d;
    margin: 0 20%;
}

.title {
    font-size: 14px;
    margin: 5% 0;
}